html, body {
    margin: 0px;
    padding: 0px;
    background: url('../images/right_bg.png');
    background-repeat: repeat;
    height: 100%;
}

a:link {text-decoration: none; color: #0195C2;}
a:visited {text-decoration: none; color: #0195C2;}
a:active {text-decoration: none; color: #0195C2;}
a:hover {text-decoration: underline; color: #0195C2;}

.textboxer {
    border: 1px solid #C1C1C1;
    font-size: 14pt;
}

.textarear {
    width: 80%;
    height: 50px;
}

.editable {
    font-family: 'Ruda', sans-serif;
    font-size: 20pt;
    color: #303030;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #EDEDED;
}

#topbar {
    border-bottom: 1px solid black;
    background-color: #303030;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    height: 40px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

#title_logo {
    color: white;
    font-family: "Averia Sans Libre", cursive;
    font-weight: 700;
    font-size: 22pt;
    margin-left: 20px;
    float: left;
}

#login_area {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

#profiles {
    color: white;
    font-family: 'Ruda', sans-serif;
    font-size: 12pt;
    margin-top: -15px;
    margin-right: 10px;
}

#left {
    float: left;
    width: 20%;
    margin-top: 7px;
    height: 94%;
}

#my_jobs_text {
    font-family: 'Ruda', sans-serif;
    font-size: 40pt;
    color: #4A4B4C;
    font-weight: 800;
}

#left_inner {
    background-color: #EDEDED;
    border-radius: 3px;
    padding: 4px;
    border-right: 1px solid #DCDCDC;
    font-family: sans-serif;
    max-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.left_listing {
    border: 1px solid #EDEDED;
    padding: 7px;
    margin-bottom: 2px;
    border-radius: 3px;
}

.left_listing:hover {
    background-color: white;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

.left_listing_clicked {
    background-color: white;
    border: 1px solid #E0E0E0;
}

.listing_title {
    font-size: 14pt;
    font-weight: 700;
    color: #888;
}

.listing_company {
    font-size: 10pt;
    font-weight: 300;
    color: #999;
}

/* RIGHT HAND SIDE */
#right {
    background-repeat: repeat;
    width: 78%;
    height: 95%;
    float: right;
}

#add_job {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Averia Sans Libre", cursive;
    font-weight: 700;
}

#add_job_outer_box {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0px;
    display: none;
}

#add_job_inner_box {
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/right_bg.png');
    background-repeat: repeat;
    padding: 10px;
    text-align: center;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    font-family: 'Ruda', sans-serif;
    font-weight: 200;
    color: #303030;
    line-height: 2.8;
}

#add_job_inner_heading {
    font-family: 'Ruda', sans-serif;
    font-size: 20pt;
    color: #303030;
}

#error_outer_box {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    
}

#add_error {
    width: 500px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/right_bg.png');
    background-repeat: repeat;
    padding: 10px;
    text-align: center;
}

#posting {
    width: 93%;
    height: 93%;
    
    margin-left: auto;
    margin-right: auto;
}

#posting_top {

    background-color: #EDEDED;
    height: 85px;
    border-bottom: 1px solid #DCDCDC;
    font-family: 'Ruda', sans-serif;
    font-size: 20pt;
    color: #303030;
    padding-left: 10px;
    padding-top: 10px;
}

#posting_top_company_name input{
    color: #888888;
}

#job_top_headline {
    display: none;
}

#posting_top a:link {text-decoration: none; color: #0195C2;}
#posting_top a:visited {text-decoration: none; color: #0195C2;}
#posting_top a:active {text-decoration: none; color: #0195C2;}
#posting_top a:hover {text-decoration: none; color: #0195C2;}

#posting_top_left {
    float: left;
    width: 80%;
}

#posting_top_right {
    float: right;
    margin-right: 10px;
    display: none;
}

#posting_top_right a:link {text-decoration: none; color: white;}
#posting_top_right a:visited {text-decoration: none; color: white;}
#posting_top_right a:active {text-decoration: none; color: white;}
#posting_top_right a:hover {text-decoration: underline; color: white;}

#posting_url {
    font-size: 10pt;
}

#posting_content {
    background-color: white;
    border-radius: 3px;
    height: 95%;
    border: 1px solid #DCDCDC;
}

#posting_under {
    display: none;
    font-family: 'Ruda', sans-serif;
    font-size: 15pt;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*SECTIONS IN THE POSTING CONTENT BOX*/
#company_profile {
    float: left;
    width: 65%;
    margin: 10px;
}

#company_extras {
    float: right;
    width: 30%;
    margin: 10px;
}
.posting_header {
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 5px;
}

.posting_section {
    font-size: 11pt;
    font-weight: 100;
    font-family: sans-serif;
    line-height: 1.5;
}

#posting_description {
    text-overflow:ellipsis;
    
}

.editable_textarea {
    font-size: 11pt;
    font-weight: 100;
    font-family: sans-serif;
    border: 0px;
    width: 100%;
    height: auto;
}

.spacer {
    height: 30px;
}

#none_selected {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ruda', sans-serif;
    font-weight: 200;
    color: #B9B9B9;
    text-align: center;
    margin-top: 100px;
}